<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${animal.id} == null ? 'Новое животное' : 'Редактирование животного'">Животное</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Центрируем карточку по экрану -->
<div class="container center-screen">
    <div class="card form-card">
        <h1 style="margin-top:0;" th:text="${animal.id} == null ? 'Новое животное' : 'Редактирование'"></h1>

        <form th:action="${animal.id} == null ? @{/animals} : @{|/animals/${animal.id}|}"
              method="post" th:object="${animal}">
            <input type="hidden" th:field="*{id}"/>

            <label>Имя<br>
                <input th:field="*{name}" required placeholder="Барсик">
            </label><br><br>

            <label>Вид<br>
                <input th:field="*{species}" required placeholder="Кот / Собака / Попугай">
            </label><br><br>

            <label>Возраст<br>
                <input th:field="*{age}" type="number" min="0" placeholder="3">
            </label><br><br>

            <div class="actions" style="margin-top:6px;">
                <button type="submit" class="btn btn-primary btn-w">Сохранить</button>
                <a th:href="@{/animals}" class="btn btn-w">Назад</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>